* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	position: relative;
	height: 60px;
	margin: 30px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

header > div {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 16px;
}

header nav {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 16px;
}

.profile-menu {
	position: relative;
}

.profile-menu button {
	position: relative;
	border: none;
	cursor: pointer;
	background: none;
	display: flex;
	align-items: center;
	padding: 10px 16px;
	border-radius: 8px;
	z-index: 10;
	transition: background 110ms ease-out;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.profile-menu button:hover,
.profile-menu button:focus-within {
	background: #f4f4f4;
}

.profile-menu button:hover .profile-menu-dropdown {
	transform: scaleY(1);
	opacity: 1;
}

.profile-menu button:focus-within .profile-menu-dropdown {
	transform: scaleY(1);
	opacity: 1;
}

.profile-menu img {
	width: 24px;
	height: 24px;
	margin-right: 12px;
	border-radius: 50%;
}

.profile-menu span {
	font-size: 10.5pt;
	color: #333;
	font-weight: 600;
}

.profile-menu-dropdown {
	position: absolute;
	right: 0;
	z-index: -1;
	top: 100%;
	width: 100%;
	padding: 17px;
	list-style: none;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 12px;
	background: #f4f4f4;
	border-radius: 8px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	transform: scaleY(0);
	transition: all 60ms ease-out;
	transform-origin: top center;
	opacity: 0;
}
